h1{
  color: #FFFFFA;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 50px;
  font-family: Impact, sans-serif;
}

h2{
  color: #FFFFFA;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  font-family: Impact, sans-serif;
}
