<div class="container mt-5">
  <div class="row mb-4">
    <div class="col text-center d-flex flex-column align-items-center">
      <h1 class="display-4 fs-2">Titre</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-center d-flex flex-column align-items-center border-end">
      <p class="card-text col-10">
        <span class="placeholder col-12"></span>
        <span class="placeholder col-9"></span>
        <span class="placeholder col-11"></span>
        <span class="placeholder col-12"></span>
        <span class="placeholder col-12"></span>
        <span class="placeholder col-11"></span>
        <span class="placeholder col-12"></span>
        <span class="placeholder col-8"></span>
      </p>
    </div>
    <div class="col-4 text-center d-flex flex-column align-items-center border-end">
      <p class="card-text col-10">
        <span class="placeholder col-12"></span>
        <span class="placeholder col-12"></span>
        <span class="placeholder col-12"></span>
        <span class="placeholder col-12"></span>
      </p>
    </div>
    <div class="col-4 text-center d-flex flex-column align-items-center">
      <p class="card-text col-10">
        <span class="placeholder col-12"></span>
        <span class="placeholder col-12"></span>
        <span class="placeholder col-12"></span>
        <span class="placeholder col-12"></span>
      </p>
    </div>
  </div>
</div>
