<div class="container mt-5">
  <div class="row mb-4">
    <div class="col text-center d-flex flex-column align-items-center">
      <h1 class="display-4 fs-2">{{subChapter.titre}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-center d-flex flex-column align-items-center border-end">
      <p class="card-text col-10 text-justify">
        {{partie1}}
      </p>
    </div>
    <div class="col-4 text-center d-flex flex-column align-items-center border-end">
      <p class="card-text col-10 text-justify">
        {{partie2}}
      </p>
    </div>
    <div class="col-4 text-center d-flex flex-column align-items-center">
      <p class="card-text col-10">
        {{partie3}}
      </p>
    </div>
  </div>
</div>
