.banniere{
  background-image: url("NoiseDrawings.jpeg");
  background-size: cover;
  background-position: center;
  height: 125px;
  padding:40px

}
h1{
  text-align: center;
  color:#372248;
  font-size: 50px;
}

