<nav class="bg-body-tertiary">
  <div class="container">
    <div class="row">
      <div class="col-4 d-flex flex-column justify-content-center">
        <div class="container-fluid">
          <h2 class="fs-2">AC20 : Art numérique</h2>
        </div>
      </div>

      <div class="col-6 d-flex flex-column justify-content-center">
        <h2 class="fs-1">Titre de la section</h2>
      </div>

      <div class="col-2 d-flex flex-column justify-content-center">
        <div class="text-center fs-6">Enora Brunel</div>
      </div>

    </div>
  </div>
</nav>
