.texte{
  font-family: Futura, sans-serif;
  font-size: 17px;
  text-align: center;
  color: #FFFFFA;

  background: linear-gradient(90deg, #5B85AA, #121111);
  box-shadow: 0 -7px 20px #000000;
  padding : 20px
}
