.sketch-container {
  width: 100%;
  height: 400px;
  position:relative;
}
.sketch-container iframe{
  position: absolute;
  width:100%;
  top: 20px;
  height: 400px;
  left: 76%;
  transform: translateX(-50%);
}
