<script src="../chapter/chapter.service.ts"></script>
<div class="navbar">
  <div class="mt-4 ms-1">
    <div class="list-group">

      <a  href="#" class="list-group-item list-group-item-action active" aria-current="true">
        Introduction
      </a>
      <a  class="list-group-item list-group-item-action">{{getChapterB(0)}}</a>
      <a href="#" class="list-group-item list-group-item-action">Découverte de la génération d'art avec p5js</a>
      <a href="#" class="list-group-item list-group-item-action">Découverte de l'art vectoriel avec Inkscape</a>
      <a href="#" class="list-group-item list-group-item-action">Présentation du site internet</a>
      <a href="#" class="list-group-item list-group-item-action">Conclusion</a>
      <a class="list-group-item list-group-item-action disabled">A disabled link item</a>

      <ul>
        <li>
        <a *ngFor="let chapter of getChapters()" href="#" class="list-group-item list-group-item-action" (click)="onTitleClick(chapter.getId)">{{chapter.getTitre}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

