.navbar {
  position: fixed;
  top: 100px;
  left: 40px;
  bottom: 0;
  width: 200px;
  height: 400px;
  margin: 0;
  padding: 0;
}
.style-navbar{
  border-color: transparent;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #121111;
  box-shadow: 0 1px 5px #121111;



}
.texte{
  font-family: Futura, sans-serif;
  color: #FFFFFA;
  font-size: 15px;

}

