h1{
  color: #FFFFFA;
  text-align: center;
  font-size: 40px;
  font-family: Impact, sans-serif;
}
p{
  text-align: justify;
  color: #FFFFFA;
  font-size: 14px;
  width: 100%;
  font-family : Futura, sans-serif;
}
