
h1{
  font-family: Impact, sans-serif;
}
p{
  font-family : Futura, sans-serif;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: linear-gradient(90deg, #5B85AA, #121111);
  box-shadow: 0 7px 20px #121111;
  text-align: center;
  padding: 10px;
  font-family: Impact, sans-serif;
  font-size :20px
}

.background {
  position: relative;
  z-index: 50;
  background-color:#2B2B2B ;
}
.footer.show {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;



}
