<app-header></app-header>
<div class="row w-100 m-0">
  <div class="col-2" >
    <app-navbar></app-navbar>
  </div>
  <div class="col-10" >
    <app-title-page></app-title-page>
    <hr class="w-50 mx-auto my-4">
    <app-text-short></app-text-short>
    <hr class="w-50 mx-auto my-4">
    <app-text-img-l></app-text-img-l>
    <hr class="w-50 mx-auto my-4">
    <app-text-long></app-text-long>
    <hr class="w-50 mx-auto my-4">
    <app-text-img-r></app-text-img-r>
    <hr class="w-50 mx-auto my-4">
    <app-img></app-img>
    <hr class="w-50 mx-auto my-4">
    <app-text-long></app-text-long>
    <hr class="w-50 mx-auto my-4">
    <app-img-caroussel></app-img-caroussel>
  </div>
</div>
<app-footer></app-footer>
