
<div *ngIf="subSubChapter.type === 'text-short'">
  <app-text-short [subSubChapter]="subSubChapter"></app-text-short>
</div>
<div *ngIf="subSubChapter.type === 'text-long'">
  <app-text-long [subSubChapter]="subSubChapter"></app-text-long>
</div>
<div *ngIf="subSubChapter.type === 'img'">
  <app-img [subSubChapter]="subSubChapter"></app-img>
</div>
<div *ngIf="subSubChapter.type === 'text-img-r'">
  <app-text-img-r [subSubChapter]="subSubChapter"></app-text-img-r>
</div>
<div *ngIf="subSubChapter.type === 'sketch'">
  <app-sketch [subSubChapter]="subSubChapter"></app-sketch>
</div>


