<div class="container mt-5">
  <div class="row text-center d-flex flex-column align-items-center">
    <div class="col-8 text-center d-flex flex-column align-items-center ">
      <!--<h1 class="display-4 mb-4 fs-2">{{subSubChapter.titre}}</h1>-->
      <img src="{{subSubChapter.imageURL}}" class="img-fluid w-50 h-50 rounded-3" style="object-fit: cover; object-position: center center;" alt="...">
      <p class="card-text col-12 mt-3" innerHTML="{{subSubChapter.description}}">
        {{subSubChapter.description}}
      </p>
    </div>
  </div>
</div>
