<div class="container mt-5">
  <div class="row text-center d-flex flex-column align-items-center">
    <div class="col-8 text-center d-flex flex-column align-items-center ">
      <h1 class="display-4 mb-4 fs-2">Titre</h1>
      <img src="https://media.istockphoto.com/id/1322277517/fr/photo/herbe-sauvage-dans-les-montagnes-au-coucher-du-soleil.jpg?s=612x612&w=0&k=20&c=tQ19uZQLlIFy8J6QWMyOL6lPt3pdSHBSDFHoXr1K_g0=" class="img-fluid w-100 h-100 rounded-3" style="object-fit: cover; object-position: center center;" alt="...">
      <p class="card-text col-12 mt-3">
        <span class="placeholder col-12"></span>
        <span class="placeholder col-12"></span>
      </p>
    </div>
  </div>
</div>
